button{
    margin-left: 11em;
    width: 150px;
    height: 40px;
    font-size: 16px;
    background-color: #0f3363;
    color: #ffffff;
    border-radius:10px;
    border:none;
    cursor: pointer;
  }

  #table{
    text-align: center;
  }